
.pb-5.container-fluid{
  height: 100%;
}

.Container{
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background: #f8f9fb;
}

.Placeholder{
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.45);
  gap: 10px;
  
}

.ChatPlaceholder{
  height: 440px;
  object-fit: contain;
}
.spanspan{
  font-size: 32px;
  color: #525252;
}