.whatsappIcon:hover{
    transform: scale(1.2);
    transition: 0.5s;
    color: black;
}
.whatsappIcon{
    font-size:40px;
    color:#128C7E
}

.signupContainer{
    background-color: white;
    border-radius: 15px;
    width: 70%;
}
@media only screen and (max-width:530px) {
    .signupContainer{  
          width: 100%;
    }
}

/*  sign up button */
